@{
    ViewData["Title"] = "Add New Record";
}

<div class="row black-text">
    <form asp-action="Create" class="driver-form">
        <!-- Drivers List -->
        <div class="col-2">
            <h5 class="flex-display horizontal-align-text"><strong>Drivers</strong></h5>
            <div>
                <select name="drivers" multiple class="driver-list" asp-items="@ViewBag.drivers">
                </select>
            </div>
        </div>

        <!-- Reporting Main Section -->
        <div class="col-8">
            <div class="main-section">
                <!-- Tab links -->
                <div class="tab">
                    <input class="tablinks" onclick="openCategory(event, 'Air Leak')" value="@ViewBag.category"><strong>Air Leak</strong></input>
                    <input class="tablinks" onclick="openCategory(event, 'Cosmetic')" value="@ViewBag.category"><strong>Cosmetic</strong></input>
                    <button class="tablinks" onclick="openCategory(event, 'Listening')" value="@ViewBag.category"><strong>Listening</strong></button>
                    <button class="tablinks" onclick="openCategory(event, 'Polarity')" value="@ViewBag.category"><strong>Polarity</strong></button>
                    <button class="tablinks" onclick="openCategory(event, 'AP Test')" value="@ViewBag.category"><strong>AP Test</strong></button>
                </div>

                <!-- Tab content -->
                <div id="Air Leak" class="tabcontent">
                    <h3>Air Leak</h3>
                    <!-- Air Leak Options -->
                    <div class="row">
                        <div class="col-4">
                            <label class="control-label block-display"><strong>Type</strong></label>
                            <!-- Type Options -->
                            <select name="type class="form-control center" asp-items="@ViewBag.airLeakType"><option value="" disabled selected>Select Option</option></select>
                        </div>
                        <div class="col-4">
                            <label class="control-label block-display"><strong>Location</strong></label>
                            <!-- Location Options -->
                            <select name="type class="form-control center" asp-items="@ViewBag.airLeakLocation"><option value="" disabled selected>Select Option</option></select>
                        </div>
                    </div>
                </div>

                <div id="Cosmetic" class="tabcontent">
                    <h3>Cosmetic</h3>
                    <!-- Cosmetic Options -->
                    <div class="row">
                        <div class="col-4">
                            <label class="control-label block-display"><strong>Location</strong></label>
                            <!-- Location Options -->
                            <select name="type class="form-control center" asp-items="@ViewBag.cosmeticLocation"><option value="" disabled selected>Select Option</option></select>
                        </div>
                    </div>
                </div>

                <div id="Listening" class="tabcontent">
                    <h3>Listening</h3>
                    <!-- Listening Options -->
                    <div class="row">
                        <div class="col-4">
                            <label class="control-label block-display"><strong>Type</strong></label>
                            <!-- Type Options -->
                            <select name="type class="form-control center" asp-items="@ViewBag.listeningType"><option value="" disabled selected>Select Option</option></select>
                        </div>
                        <div class="col-4">
                            <label class="control-label block-display"><strong>Location</strong></label>
                            <!-- Location Options -->
                            <select name="type class="form-control center" asp-items="@ViewBag.listeningLocation"><option value="" disabled selected>Select Option</option></select>
                        </div>
                    </div>
                </div>

                <div id="Polarity" class="tabcontent">
                    <h3>Polarity</h3>
                    <!-- Listening Options -->
                    <div class="row">
                        <div class="col-4">
                            <label class="control-label block-display"><strong>Location</strong></label>
                            <!-- Location Options -->
                            <select name="type class="form-control center" asp-items="@ViewBag.polarityLocation"><option value="" disabled selected>Select Option</option></select>
                        </div>
                    </div>
                </div>

                <div id="AP Test" class="tabcontent">
                    <h3>AP Test</h3>
                    <!-- AP Test Options -->
                    <div class="row">
                        <div class="col-4">
                            <label class="control-label block-display"><strong>Type</strong></label>
                            <!-- Type Options -->
                            <select name="type class="form-control center" asp-items="@ViewBag.apTestType"><option value="" disabled selected>Select Option</option></select>
                        </div>
                        <div class="col-4">
                            <label class="control-label block-display"><strong>Location</strong></label>
                            <!-- Location Options -->
                            <select name="type class="form-control center" asp-items="@ViewBag.apTestLocation"><option value="" disabled selected>Select Option</option></select>
                        </div>
                    </div>
                </div>

                <div id="Grounding" class="tabcontent">
                    <h3>Grounding</h3>
                    <!-- Grounding Options -->
                    <div class="row">
                        <div class="col-4">
                            <label class="control-label block-display"><strong>Location</strong></label>
                            <!-- Location Options -->
                            <select name="type class="form-control center" asp-items="@ViewBag.groundingLocation"><option value="" disabled selected>Select Option</option></select>
                        </div>
                    </div>
                </div>

                <!-- Notes section -->
                <div class="mb-3 note-box center">
                    <div class="notes">
                        <label for="textArea" class="form-label block-display"><strong>Notes</strong></label>
                        <textarea class="form-control note-control flex-display" id="Notes" rows="5" placeholder="Notes..." value="@ViewBag.notes""></textarea>
                    </div>
                </div>
            </div>
        </div>

        <!-- Additional information -->
        <div class="col-2">
            <div class="col-4">
                <!-- Scan ID -->
                <label class="control-label block-display"><strong>Scan ID</strong></label>
                <textarea class="form-control text-input" id="dateCode" rows="1" placeholder="ID"></textarea>
                <!-- Model Options -->
                <label class="control-label block-display"><strong>Model</strong></label>
                <select name="type class="form-control center flex-display additional-options" asp-items="@ViewBag.models"><option value="" disabled selected>Select Option</option></select>
                <!-- Date Code -->
                <label class="control-label block-display"><strong>Batch Code</strong></label>
                <textarea class="form-control text-input" id="batchCode" rows="1" placeholder="Batch Code" value="@ViewBag.batchCode"></textarea>
                <!-- Failure Fault Options -->
                <label class="control-label block-display"><strong>Failure Fault</strong></label>
                <select name="type class="form-control center flex-display additional-options" asp-items="@ViewBag.failureFault"><option value="" disabled selected>Select Option</option></select>
                <!-- Quantity Options -->
                <label class="control-label block-display"><strong>Quantity</strong></label>
                <select name="type class="form-control center flex-display additional-options" asp-items="@ViewBag.quantity"></select>
                <!-- Discarded Checkbox -->
                <table>
                    <tr>
                        <td>
                            <input id="discarded" type="checkbox" name="discarded" value="@ViewBag.discarded" checked="1" />
                        </td>
                        <td>
                            <label for="discarded"><strong>Discarded</strong></label>
                        </td>
                    </tr>
                </table>
                <!-- Submit Button  -->
                <div class="note-box black-text">
                    <input type="submit" class="submit-btn" value="Create"/>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Helpful tip -->
<p class="black-text"><i>Note: To select multiple drivers hold down the Ctrl (windows) or Command (Mac) button.</i></p>

@section Scripts {
    <script type="text/javascript">
        function openCategory(evt, category) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(category).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
}