@{
    ViewData["Title"] = "Add New Record";
}

<div class="row black-text">
    <!-- Drivers List -->
    <div class="col-2">
        <h5 class="flex-display horizontal-align-text"><strong>Drivers</strong></h5>
        <div>
            <select name="drivers" multiple class="driver-list">
                <option value="075.001-1">075.001-1</option>
                <option value="075.QX">075.QX</option>
                <option value="075.QXC6">075.QXC6</option>
                <option value="075.QXC8">075.QXC8</option>
                <option value="1.002">1.002</option>
                <option value="1.003">1.003</option>
                <option value="1.007">1.007</option>
                <option value="10.002.2">10.002.2</option>
                <option value="10.004">10.004</option>
                <option value="12.001">12.001</option>
                <option value="2.001">2.001</option>
                <option value="2.003">2.003</option>
                <option value="3.001-1">3.001-1</option>
                <option value="3.003">3.003</option>
                <option value="3.004">3.004</option>
                <option value="4.001-1">4.001-1</option>
                <option value="4.002-1">4.002-1</option>
                <option value="4.003.1">4.003.1</option>
                <option value="4.004">4.004</option>
                <option value="4.005">4.005</option>
                <option value="4.006">4.006</option>
                <option value="5.007">5.007</option>
                <option value="6.5.001F">6.5.001F</option>
                <option value="6.5.002">6.5.002</option>
                <option value="6.5.004">6.5.004</option>
                <option value="6.5.005">6.5.005</option>
                <option value="6.5.006">6.5.006</option>
                <option value="6.5.008">6.5.008</option>
                <option value="8.001F">8.001F</option>
                <option value="8.003.1">8.003.1</option>
                <option value="8.003.2">8.003.2</option>
                <option value="DRV.2X5.001">DRV.2X5.001</option>
                <option value="NE65W-04">NE65W-04</option>
            </select>
            @*<p><input type="submit" value="Submit"></p>*@
        </div>
    </div>

    <!-- Reporting Main Section -->
    <div class="col-8">
        <div class="main-section">
            <!-- Tab links -->
            <div class="tab">
                <button class="tablinks" onclick="openCategory(event, 'Air Leak')"><strong>Air Leak</strong></button>
                <button class="tablinks" onclick="openCategory(event, 'Cosmetic')"><strong>Cosmetic</strong></button>
                <button class="tablinks" onclick="openCategory(event, 'Listening')"><strong>Listening</strong></button>
                <button class="tablinks" onclick="openCategory(event, 'Polarity')"><strong>Polarity</strong></button>
                <button class="tablinks" onclick="openCategory(event, 'AP Test')"><strong>AP Test</strong></button>
            </div>

            <!-- Tab content -->
            <div id="Air Leak" class="tabcontent">
                <h3>Air Leak</h3>
                <!-- Air Leak Options -->
                <div class="row">
                    <div class="col-4">
                        <label class="control-label block-display"><strong>Type</strong></label>
                        <!-- Type Options -->
                        <select name="type class="form-control center" asp-items="@ViewBag.airLeakType"><option value="">Select Option</option></select>
                    </div>
                    <div class="col-4">
                        <label class="control-label block-display"><strong>Location</strong></label>
                        <!-- Location Options -->
                        <select name="type class="form-control center" asp-items="@ViewBag.airLeakLocation"><option value="">Select Option</option></select>
                    </div>
                </div>
            </div>

            <div id="Cosmetic" class="tabcontent">
                <h3>Cosmetic</h3>
                <!-- Cosmetic Options -->
                <div class="row">
                    <div class="col-4">
                        <label class="control-label block-display"><strong>Location</strong></label>
                        <!-- Location Options -->
                        <select name="type class="form-control center" asp-items="@ViewBag.cosmeticLocation"><option value="">Select Option</option></select>
                    </div>
                </div>
            </div>

            <div id="Listening" class="tabcontent">
                <h3>Listening</h3>
                <!-- Listening Options -->
                <div class="row">
                    <div class="col-4">
                        <label class="control-label block-display"><strong>Type</strong></label>
                        <!-- Type Options -->
                        <select name="type class="form-control center" asp-items="@ViewBag.listeningType"><option value="">Select Option</option></select>
                    </div>
                    <div class="col-4">
                        <label class="control-label block-display"><strong>Location</strong></label>
                        <!-- Location Options -->
                        <select name="type class="form-control center" asp-items="@ViewBag.listeningLocation"><option value="">Select Option</option></select>
                    </div>
                </div>
            </div>

            <div id="Polarity" class="tabcontent">
                <h3>Polarity</h3>
                <!-- Listening Options -->
                <div class="row">
                    <div class="col-4">
                        <label class="control-label block-display"><strong>Location</strong></label>
                        <!-- Location Options -->
                        <select name="type class="form-control center" asp-items="@ViewBag.polarityLocation"><option value="">Select Option</option></select>
                    </div>
                </div>
            </div>

            <div id="AP Test" class="tabcontent">
                <h3>AP Test</h3>
                <!-- AP Test Options -->
                <div class="row">
                    <div class="col-4">
                        <label class="control-label block-display"><strong>Type</strong></label>
                        <!-- Type Options -->
                        <select name="type class="form-control center" asp-items="@ViewBag.apTestType"><option value="">Select Option</option></select>
                    </div>
                    <div class="col-4">
                        <label class="control-label block-display"><strong>Location</strong></label>
                        <!-- Location Options -->
                        <select name="type class="form-control center" asp-items="@ViewBag.apTestLocation"><option value="">Select Option</option></select>
                    </div>
                </div>
            </div>

            <div id="Grounding" class="tabcontent">
                <h3>Grounding</h3>
                <!-- Grounding Options -->
                <div class="row">
                    <div class="col-4">
                        <label class="control-label block-display"><strong>Location</strong></label>
                        <!-- Location Options -->
                        <select name="type class="form-control center" asp-items="@ViewBag.groundingLocation"><option value="">Select Option</option></select>
                    </div>
                </div>
            </div>

            <!-- Notes section -->
            <div class="mb-3 note-box center">
                <div class="notes">
                    <label for="textArea" class="form-label block-display"><strong>Notes</strong></label>
                    <textarea class="form-control flex-display" id="Notes" rows="5" placeholder="Notes..."></textarea>
                </div>
            </div>
        </div>
    </div>

    <!-- Additional information -->
    <div class="col-2">
        <div class="col-4">
            <label class="control-label block-display"><strong>Model</strong></label>
            <!-- Model Options -->
            <select name="type class="form-control center flex-display additional-options" asp-items="@ViewBag.models"><option value="">Select Option</option></select>
            <!-- Date Code -->
            <textarea class="form-control" id="dateCode" rows="1" placeholder="Date Code"></textarea>
            <label class="control-label block-display"><strong>Failure Fault</strong></label>
            <!-- Failure Fault Options -->
            <select name="type class="form-control center flex-display additional-options" asp-items="@ViewBag.failureFault"><option value="">Select Option</option></select>
            <label class="control-label block-display"><strong>Quantity</strong></label>
            <!-- Quantity Options -->
            <select name="type class="form-control center flex-display additional-options" asp-items="@ViewBag.quantity"><option value="">Select Option</option></select>
        </div>
    </div>
</div>

<!-- Helpful tip -->
<p><i>Note: To select multiple drivers hold down the Ctrl (windows) or Command (Mac) button.</i></p>

@section Scripts {
    <script type="text/javascript">
        function openCategory(evt, category) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(category).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
}