@model Paging<Failure_Logging_System.Models.Driver>
@{
    ViewData["Title"] = "View Records";
}

<!-- Buttons -->
<table>
    <thead>
        <tr class="info-row">
            <th>
                <a asp-controller="Record" asp-action="Reporting" class="btn btn-black">Reporting</a>
            </th>
            <th>
                <form asp-controller="Record" asp-action="GenerateReport">
                    <button type="submit" class="btn btn-black" alt="Generate Report Button">Generate Report</button>
                </form>
            </th>
            <th class="vertical-align-text flex-display">
                @using (Html.BeginForm("ViewRecord", "Record", FormMethod.Post, new { @class = "form-height" }))
                {
                    <p>
                        @Html.TextBox("SearchString")<input type="submit" value="Search" />
                    </p>
                }
            </th>
        </tr>
    </thead>
</table>
<div class="row">
    
    <div class="col-12 flex-display">
        <div class="center table-div">
            <!-- Record List -->
            <table class="black-text table">
                <thead>
                    <!-- Header Columns -->
                    <tr class="table-header">
                        <th class="table-header">
                            @Html.ActionLink("Driver", "ViewRecord", new { sortOrder = "driverName", currentFilter = ViewBag.CurrentFilter})
                        </th>
                        <th class="normal-header">
                            @Html.ActionLink("BatchCode", "ViewRecord", new { sortOrder = "BatchCode", currentFilter = ViewBag.CurrentFilter})
                        </th>
                        <th class="normal-header">
                            @Html.ActionLink("Date", "ViewRecord", new { sortOrder = "Date", currentFilter = ViewBag.CurrentFilter})
                        </th>
                        <th class="normal-header">
                            @Html.ActionLink("Category", "ViewRecord", new { sortOrder = "Category", currentFilter = ViewBag.CurrentFilter})
                        </th>
                        <th class="normal-header">
                            @Html.ActionLink("Type", "ViewRecord", new { sortOrder = "Type", currentFilter = ViewBag.CurrentFilter})
                        </th>
                        <th class="normal-header">
                            @Html.ActionLink("Location", "ViewRecord", new { sortOrder = "Location", currentFilter = ViewBag.CurrentFilter})
                        </th>
                        <th class="normal-header">
                            @Html.ActionLink("FailureFault", "ViewRecord", new { sortOrder = "FailureFault", currentFilter = ViewBag.CurrentFilter})
                        </th>
                        <th class="normal-header">
                            @Html.ActionLink("Discarded", "ViewRecord", new { sortOrder = "Discarded", currentFilter = ViewBag.CurrentFilter})
                        </th>
                        <th>
                            Notes
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.driverName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BatchCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FailureFault)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Discarded)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Notes)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="paging-div">
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="ViewRecord"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn @prevDisabled btn-paging">
            Previous
        </a>
        <a asp-action="ViewRecord"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn @nextDisabled btn-paging">
            Next
        </a>
        Page @(Model.TotalPages < Model.PageIndex ? 0 : Model.PageIndex) of @Model.TotalPages
    </div>
</div>